.loading-container {
  background-color: #646cff;
  color: #333;
}
.loading-container .loading-text {
  color: #646cff;
}

.spa-loading-error-title {
  border: 1px solid #666effb3;
  padding: 15px;
  border-radius: 6px;
}
